@use 'variables' as *;

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
button {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid $separator-color;
  margin: $box-padding 0;
}

h1,
h2,
h3 {
  margin: $box-padding 0 0 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
