$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;

$background-color: #eeeeee;
$separator-color: #dddddd;

$primary-color: #1469b3;
$secondary-color: #dd8100;

$box-padding: 16px;

$button-height: 24px;
