@use "variables" as *;
@use "mixins" as *;

.app {

  /* BUTTONS */
  .MuiButton-root {
    height: $button-height;
    text-transform: uppercase;
    box-shadow: none;
    font-family: $base-font-family;
    border-radius: $border-radius-chip;
    padding: $button-padding;

    &:hover, &:active, &:focus {
      @include box-shadow-button();
    }

    .MuiButton-startIcon {
      img {
        width: $button-height*0.75;
        height: 100%;
      }
    }
  }

  .MuiCircularProgress-colorPrimary { /* stylelint-disable-line selector-class-pattern */
    color: $primary-color;
  }

  // TEXT INPUT
  .MuiFilledInput-root {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;

    &:hover {
      background-color: rgba($gray-dark, 0.1);
    }

    &, &.Mui-focused {
      background-color: rgba($gray-dark, 0.05);
    }

    &.Mui-disabled {
      background-color: rgba($gray-dark, 0.15);
    }

    &::before, &::after {
      content: none;
    }
  }

  .MuiInputLabel-root.Mui-focused {
    color: currentColor;
  }

  // FORM ERROR
  .Mui-error {
    margin-left: 0;
  }

  .main-nav span.MuiTouchRipple-root {
    display: none;
  }
}
