@use 'variables' as *;

html {
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
button {
  cursor: pointer;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  // will not underline letters that overlaps on the link line (as p, g, j, ..)
  text-decoration-skip-ink: auto;
}

hr {
  border: 0;
  border-top: $separator;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
