html {
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
button {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid $separator-color;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}
