// fonts
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;
$font-size-big: 18px;

// colors
$background-color: #EEE;
$separator-color: #DDD;

$primary-color: #1469b3;
$secondary-color: #df623b;
$active-background-color: #e3ebf2;

$navigation-width-open: 240px;
$navigation-width-close: 100px;

$gray-lighter: #F5F5F5;
$gray-lighter-border: #E5E3E3;
$gray-light: #CDCDCD;
$gray: #BCBCBC;
$gray-text: #ABABAB;
$gray-dark: #444444;

$green: #72bb53;
$blue: #0d60b4;
$red: #da1d36;
$orange: #F49866;

// font-size
$font-size-mini: 11px;
$font-size-small: 13px;
$font-size-little: 0.9rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-size-extra-large: 1.8rem;
$font-size-huge: 2rem;

// padding / margin
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 0.75rem;
$spacer-4: 1rem;
$spacer-5: 1.5rem;
$spacer-6: 2rem;
$spacer-7: 3rem;
$spacer-8: 4rem;
$spacer-9: 6rem;
$spacer-10: 10rem;

$button-height: 24px;

// variable components
$height-header: 8rem;
$height-nav: 6rem;
$forms-input-height: 53.13px;
$forms-input-horizontal-padding: 12px;

// screen sizes
$width-small-screen-px: 800;
$width-medium-screen-px: 1150;

$app-max-width: 1200px;

// BREAKPOINTS
$breakpoint-tablet: 1100px; // above it's a big laptop
$breakpoint-mobile: 768px; // above it's a tablet, under we use mobile
