.list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;

  .title {
    display: flex;
    align-items: center;
    flex: 1;

    h2 {
      font-size: $font-size-medium;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}
