@use "../variables" as *;

.login-layout {
  height: 100%;
  overflow: auto;

  .login-page {

    .app-icon {
      position: initial;
      transform: initial;
      margin: $spacer-4 auto;
    }

    h1 {
      text-align: center;
      margin-bottom: 0;
      color: $primary-color;
    }

    h2.login-subtitle {
      color: $secondary-color;
      font-size: $font-size-extra-large;
      text-align: center;
      margin-bottom: $spacer-8;
    }

    .login-label {
      color: $primary-color;
      font-size: $font-size-large;
      text-align: center;
    }

    .login-box {
      margin: 0 auto;
      width: 550px;
      padding: $spacer-5 $spacer-8 $spacer-6 $spacer-8;
      border-radius: 4px;
      border: 1px solid #ddd;
      text-align: center;

      a {
        display: inline-block;
      }

      form {
        margin: $spacer-4 0 0 0;

        .actions {
          padding: 0;
          display: flex;
          justify-content: center;

          .action-container {
            & > button {
              display: flex;
              margin: 0 auto;
            }
          }
        }
      }

      hr {
        margin: $spacer-6 0;
      }

      .login-action-button {
        & > button {
          width: 60%;
          background-color: white;
          border: 1px solid $primary-color;
          color: $primary-color;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
