@use "../variables" as *;

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 $box-padding;

  .action-container {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &--column {
    flex-direction: column;
    justify-content: center;

    .action-container {
      margin-left: 0;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .loading-button {
    position: relative;

    &--loading {
      button {
        color: transparent;
      }
    }

    .loading-progress {
      height: $button-height;
      width: $button-height;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$button-height * 0.5;
      margin-left: -$button-height * 0.5;

      > div {
        display: block;
      }
    }
  }
}
