@use '../variables' as *;

.user-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  * {
    flex-shrink: 0;
  }

  .user-initials {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: $secondary-color;
    text-align: center;
    line-height: 35px;
    background: $gray-lighter;
  }

  .user-data {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: $font-size-normal;

    .data {
      display: flex;
      height: 40px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 $spacer-2;
      margin-left: $spacer-3;

      .label {
        color: black;
        text-transform: uppercase;
      }

      .value {
        color: $gray;
        text-align: right;

        &--accent {
          font-size: $font-size-little;
          padding: .5rem;
          border-radius: .5rem;
          text-transform: uppercase;
          border: 1px solid $orange;
          color: $orange;
          text-align: center;
        }

        &--little {
          font-size: $font-size-little;
        }
      }
    }

    &--id {
      align-content: center;
      justify-content: flex-start;

      .data {
        margin-left: $spacer-1;
        padding: 0 $spacer-2;
      }
    }
  }

  .action-button {
    & > button {
      background-color: white;
      border: 1px solid $primary-color;
      color: $primary-color;

      &:hover {
        background-color: white;
      }
    }
  }
}
