#login-layout {
  height: 100%;
  overflow: auto;

  .login-page {
    padding-top: 5%;

    h1 {
      text-align: center;
      margin-bottom: $box-padding;
    }

    .login-box {
      margin: 0 auto;
      width: 400px;
      padding: 32px;
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #dddddd;

      form {
        margin: $box-padding 0 0 0;

        .actions {
          padding: 0;

          .action-container {
            width: 100%;

            >button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
