@use '@scssVariables' as *;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  background-color: $background-color;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
.actions,
.panel {
  padding: 0 $box-padding;
}
