@use '../variables' as *;

.columns-container {
  display: flex;
  margin: $spacer-5 0;

  .column {
    flex-grow: 1;
    flex-shrink:  1;

    & ~ .column{
      margin-left: $spacer-4;
    }

    &--10 {
      width: 10%
    }

    &--15 {
      width: 15%
    }

    &--20 {
      width: 20%
    }

    &--25 {
      width: 25%
    }

    &--30 {
      width: 30%
    }

    &--35 {
      width: 35%
    }

    &--40 {
      width: 40%
    }

    &--45 {
      width: 45%
    }

    &--50 {
      width: 50%
    }

    &--55 {
      width: 55%
    }

    &--60 {
      width: 60%
    }

    &--65 {
      width: 65%
    }

    &--70 {
      width: 70%
    }

    &--75 {
      width: 75%
    }

    &--80 {
      width: 80%
    }

    &--85 {
      width: 85%
    }

    &--90 {
      width: 90%
    }

    &--95 {
      width: 95%
    }
  }
}
