.columns-container {
  display: flex;
  margin: $spacer-5 0;

  .column {
    flex: 1;

    & ~ .column{
      margin-left: $spacer-4;
    }

    &--10 {
      flex: 1;
    }

    &--15 {
      flex: 1.5;
    }

    &--20 {
      flex: 2;
    }

    &--25 {
      flex: 2.5;
    }

    &--30 {
      flex: 3;
    }

    &--35 {
      flex: 3.5;
    }

    &--40 {
      flex: 4;
    }

    &--45 {
      flex: 4.5;
    }

    &--50 {
      flex: 5;
    }

    &--55 {
      flex: 5.5;
    }

    &--60 {
      flex: 6;
    }

    &--65 {
      flex: 6.5;
    }

    &--70 {
      flex: 7;
    }

    &--75 {
      flex: 7.5;
    }

    &--80 {
      flex: 8;
    }

    &--85 {
      flex: 8.5;
    }

    &--90 {
      flex: 9;
    }

    &--95 {
      flex: 9.5;
    }
  }
}
