body {
  background: white;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

#main-layout {
  height: 100%;
  display: flex;
  flex-direction: row;

  #content-layout {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
  }
}

.admin-page {
  padding: $spacer-6;

  .page-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer-4;

    .page-title {
      font-size: $font-size-large;
      color: $secondary-color;
    }
  }
}

.list-elements {
  display: flex;
  flex-direction: column;
  margin-top: $spacer-4;

  .list-single-element {
    padding: $spacer-4 $spacer-5;
    border: 1px solid $separator-color;
    border-radius: 5px;
    box-sizing: border-box;

    & + .list-single-element {
      margin-top: $spacer-2;
    }
  }
}

.list-elements-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: $font-size-medium;
  }

  .list-sort-menu {
    display: flex;
    align-items: center;
    padding: 0 $spacer-4;
    height: 38px;
    border-radius: 5px;
    background: rgba(1, 136, 139, 0.05);
    margin-left: $spacer-5;

    .MuiSelect-select {
      padding: 0 $spacer-2;
    }

    .sort-menu {
      font-size: $font-size-little;

      > div:first-child {
        padding: 0 $spacer-2;
        font-size: $font-size-little;
      }

      fieldset {
        border: none;
      }
    }
  }
}

.list-filter-menu {
  max-width: 220px; // avoid filter section being too large for larger screens

  h2 {
    font-size: $font-size-large;
    text-transform: uppercase;
    color: $primary-color;
    margin-top: 7px; // to align the title with the number of client
  }

  .list-filters {
    margin-top: $spacer-3;
    .filter {
      display: flex;
      flex-direction: column;

      & + .filter {
        margin-top: $spacer-6;
      }

      .filter-title {
        font-weight: bold;
        font-size: $font-size-normal;
        margin-bottom: $spacer-2;
      }

      .MuiFormControlLabel-root {
        height: $spacer-6;

        .Mui-checked {
          svg, .MuiTouchRipple-root {
            color: $secondary-color;
          }
        }

        .MuiTypography-root {
          font-size: $font-size-normal;
        }
      }
    }
  }
}

.status {
  @include dot(15px);
  margin-right: 0;

  &--ok {
    background: $green;
  }

  &--warn {
    background: $orange;
  }

  &--danger {
    background: $red;
  }
}
