@use '../variables' as *;

body {
  background: white;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-layout {
  height: 100%;
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  #content-layout {
    grid-area: content;
    display: grid;
    grid-template-areas:
            "header"
            "panel";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;

    #main-header {
      grid-area: header;
    }

    .panel {
      grid-area: panel;
    }
  }

  .main-nav {
    grid-area: nav;
  }
}
